<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://roguesound-lobby.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c34b8746-5134-4ce0-ad6f-71d212cdea69/resourceGroups/rogue-sound/providers/Microsoft.Web/sites/roguesound-lobby</ResourceId>
    <UserName>$roguesound-lobby</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://roguesound-lobby.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>